<!-- Single Comment -->
{% for comments in post.comment_set.all %}
{% if comments.id != comment.id %}
<div class="media mb-4">
  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
  <div class="media-body">            
    <h5 class="mt-0">anonymous</h5>
    {{comment}} 
    <div align="right">
      <a href="{%url 'comments_update' post.id comment.id %}" class="btn btn-primary my-2">Edit</a>
      <a href="{%url 'comments_delete' post.id comment.id %}" class="btn btn-primary my-2">Delete</a>
    </div>
  </div>
</div>
{% else %}
<div class="card-body">
    <form action="{% url 'comments_update' post.pk comment.id %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <textarea class="form-control" rows="3" name="content">{{comment.content}}</textarea>
      </div>
      <div align="right">
      <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</div>
{% endif %}
{% endfor %}